
:root {
    --brand-color: #2196F3;
    --brand-pagina: #F5F4FA;
    --brand-menu: #212121;
    --brand-info: #757575;
    --brand-white: #FFFFFF;
    --brand-head: #2F303A;
    --font-size: 14px;
    --font-set: 16px;
    --font--Weight: 400; 
    --font-title:500;
    --font-h3:700;
    --font-family:'Roboto';
}


body{
    background-color:var(--brand-pagina);
    font-family: 'Roboto', 'Arial';
    text-decoration: none;
}

/*Encabezado*/

.title{
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.17;
    width: 145px;
    color:var(--brand-color);
    font-weight: 700;
}

li{
    list-style-type: none;
    cursor: pointer;
}

.head-information{
    font-weight: var(--font-title);
}

/*Menu de los dos html*/

img{
    cursor: auto;
}

.text-direction{
    font-size:var(--font-size);
    color:var(--brand-menu);
    line-height: 1.17;
    font-weight: var(--font-title);
}
.text-direction:hover{
    color:var(--brand-color);
    line-height: 1.17;
    font-weight: var(--font-title);
}
.info{
    font-size:var(--font-size);
    line-height: 1.17;
    color:var(--brand-info);
    font-weight:var(--font--Weight);
}

/*Seccion uno*/

.head{
    background-color: var(--brand-head);
}

.head-title{
    font-size: 44px;
    line-height: 1.3;
    color: var(--brand-white);
    font-weight: 700;
}

.head-button{
    color: var(--brand-menu);
    font-family:var(--font-family);
    font-size: var(--font-set);
    line-height: 1.8;
    font-weight: 700;
    width: 261px;
    height: 50px;
    background-color:var(--brand-pagina);
    cursor: pointer;
    font-weight: var(--font-h3);
}

.head-button:hover{
    color: var(--brand-white);
    font-family:var(--font-family);
    font-size: var(--font-set);
    line-height: 1.8;
    background-color:var(--brand-color);
}

/*Botones de portafolio*/

.link {
    text-decoration: none;
}

.button-list .button{
    background-color: var(--brand-pagina);
    font-family:var(--font-family);
    width: 145px;
    height: 38px;
    font-size: var(--font-set);
    line-height: 1.62;
    border-radius: 4px;
    font-weight: var(--font-title);
    cursor: pointer;
}

.button-list .button:hover{
    font-family:var(--font-family);
    color: var(--brand-white);
    font-size:var(--font-set);
    line-height: 1.62;
    background-color:var(--brand-color);
}

.active{
    color:var(--brand-color)
}

.activebutton{
    background-color:var(--brand-color);
    font-family:var(--font-family);
    color: var(--brand-white);
    width: 145px;
    height: 38px;
    font-size: var(--font-set);
    line-height: 1.62;
    border-radius: 4px;
    font-weight: var(--font-title);
    cursor: pointer;
}

/*Seccion Dos*/

.intermediate{
    font-size: var(--font-size);
    line-height: 1.17;
    color:var(--brand-menu);
    font-weight: var(--font-h3);
}

.middle-text{
    font-size:var(--font-size);
    line-height: 1.7;
    color:var(--brand-info);
    font-weight:var(--font--Weight);
}

.title-img{
    font-weight: var(--font-h3);
    line-height: 2;
}

/*Seccion Tres imagenes*/

.section-title{
    font-size: 36px;
    line-height: 1.17;
    color:var(--brand-menu);
    font-weight: var(--font-h3);
}

/*Seccion Cuarta baja*/

.down{
    background-color:var(--brand-white); ;
}

.professional{
    font-size: var(--font-set);
    line-height: 1.17;
    color:var(--brand-menu);
    font-weight: var(--font-title);
}

.position{
    font-size: var(--font-set);
    line-height: 1.17;
    color:var(--brand-info);
    font-weight:var(--font--Weight);
}

/*Pie de pagina*/

address{
    font-style: normal;
}

.foot{
    background-color:var(--brand-head);
}

.location{
    color: var(--brand-white);
    font-size: var(--font-size);
    line-height: 1.71;
    font-weight:var(--font--Weight);
}

.article{
    color:var(--brand-info);
    line-height: 1.8;
    font-size:var(--font-set);
    font-weight:var(--font--Weight);
}

/*Seccion pie de pagina*/
